* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;    
}

/*--------Estilização da Seção MAIN--------*/


/*video container*/


.banner-movie{
    width: 100%;
    height: auto;
    position: relative;    
}

.banner-movie > .movie{
    position: relative;
    height: 250px;
    width: 100%;
    object-fit: fill;
    object-position: center;
    overflow: hidden;
    opacity: 0.2;
}

/*texto do banner*/

.text-movie {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    font-style: italic;
    color: teal;
}


.title-container{
    text-align: center;
    color: teal;
    font-weight: 600;
}

/*Container cards*/
.container-cards{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
    margin-top: 5rem;
}

.cards{
    height: 300px;
    width: 300px;
    margin: 20px;
    box-shadow: 5px 5px 20px black;
    border-radius: 10px;
}

.cards > img{
    height: 300px;
    width: 300px;
    border-radius: 10px;
    transition: .5s; 
}

.text-card{
    height: 70px;
    width: 300px;
    padding: 6px;
    box-sizing: border-box;
    position: relative;
    bottom: 70px;
    background: rgba(12, 136, 231, 0.765);
    color: white; 
    font-weight: 600;  
    transition: .5s; 
}

.text-card > h3{
    margin: 5px;
    font-size: 22px;    
}

.text-card > p{
    font-size: 15px;
    margin: 15px;
    visibility: hidden;
    opacity: 0;
}

.cards:hover{
    cursor: pointer;
}

.cards:hover .text-card{
    height: 210px;
    bottom: 210px;
    background: rgba(32, 128, 231, 0.7);
}

.cards:hover p{
    opacity: 1;
    visibility: visible;
}

.cards:hover img{
    transform: scale(1.0) rotate(-3deg);
}


/*Cards de atividades*/
.cards-atividades{
    margin-top: 5rem;

}
.title-container{
    margin-top: 5rem;
}

/*-----------------Footer-----------------*/

.rodape {
    margin-top: 5rem;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #fff;
    width: 100%;
    height: 450px;
    overflow: hidden;
    margin-bottom: 0;
}

.footer_left {
    width: 30%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 10px;
    gap: 10px;
    font-size: 20px;
}

.footer_left a {
    font-weight: 600;
    font-size: 20px;
    margin-left: 10px;
    font-style: italic;
    text-decoration: none;
    color: #8a5cc2;
}

.footer_left a:hover {
    color: #0ab47b;
    cursor: pointer;
}

.footer_rigth {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    /*garantir que a imagem de plano de fundo usada cubra totalmente o elemeto no qual foi aplicado*/
    background-image: url(../img/home/others/help_desk2.jpg);
}

/*BOX mensagem*/
.contact-form {
    max-width: 700px;
    margin-right: 50px;
    /*maneira abreviada de definir flex-grow, flex-shrink e flex-basis, faz com que o item se torne flexível para preencher todo o espaço diponível do contẽnier*/
    flex: 1;
}




.contact-form h2 {
    color: #0ab47b;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 600;
}

.contact-form .text-box {
    background: #8a5cc2;
    color: #fff;
    border: none;
    width: calc(50% - 10px);
    height: 50px;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    /* transparência 0 - completamente transparente e 1 totamente opaco*/
    opacity: 0.9;

}

.contact-form .text-box:first-child {
    /*ordenar como primeiro filho do elemento pai*/
    margin-right: 15px;
}

.title-contact{
    text-align: center;
    margin-bottom: 2rem;
    color: teal;
    font-weight: 600;
}
.contact-form textarea {
    /* área (box) mensagem*/
    background: #8a5cc2;
    color: #fff;
    border: none;
    width: 100%;
    padding: 12px;
    font-size: 15px;
    min-height: 200px;
    max-height: 400px;
    /*especifica que um elemento pode ser redimensionado verticalmente pelo usuário.*/
    resize: vertical;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}

.contact-form .enviar-btn {
    /*Movimentação do elemento para a direita*/
    float: right;
    background: #8a5cc2;
    color: #fff;
    border: none;
    width: 120px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    transition: 0.3s;
    transition-property: background;
}

.contact-form .enviar-btn:hover {
    background: #0ab47b;
    cursor: pointer;
}